* {
  background-color: #7dc0c2;
  margin: 0;
}

.content {
  text-align: center;
}

.contentBody {
  display: grid;
  justify-content: center;
}

header {
  background-color: #000;
  color: #fff;
  font-size: 2rem;
}

nav {
  width: 500;
  float: left;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

button {
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

form {
  background-color: #924b4b;
  padding: 2rem 4rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

input {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  background-color: #fff;
}

label {
  background-color: #924b4b;
}